<section class="section">
	<div class="sectionInner sectionInner--current-game clearfix">
		<h5>Current Game</h5>

		<div class="content" id="currentGame"></div>
	</div>
</section>

<div class="row">
	<section class="section col-sm-8">
		<div class="sectionInner clearfix">
			<h5>Active Queue</h5>

			<div class="content" id="activeQueue"></div>
		</div>
	</section>
	
	<section class="section col-sm-4">
		<div class="sectionInner clearfix">
			<h5>LFP <small>(Looking for player)</small></h5>

			<div class="content">
				
			</div>
		</div>
	</section>
</div>

<section class="section">
	<div class="sectionInner clearfix">
		<h5>Recent Games</h5>

		<div class="content">
			
		</div>
	</div>
</section>

<section class="section">
	<div class="sectionInner clearfix">
		<h5>Quick Stats</h5>

		<div class="content">
			
		</div>
	</div>
</section>